#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Guild teleport configuration
########################################
#
#    GuildTeleport.Enable
#        Description: Enable guild teleport
#        Default:     0 - Disabled
#                     1 - Enabled
#

GuildTeleport.Enable = 1
